## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts_less_than_700 = application_counts[application_counts < 700]
application_types_to_replace = list(application_counts_less_than_700.index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classifications_counts = application_df['CLASSIFICATION'].value_counts()
classifications_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classifications_counts[classifications_counts > 1]
classification_counts_greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_counts_less_than_100 = classifications_counts[classifications_counts < 100]
classifications_to_replace = list(classifications_counts_less_than_100.index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df = pd.get_dummies(application_df)
application_dummy_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummy_df.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_dummy_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
num_of_features = len(X_train[0])
hidden_layer_1_units = 50
hidden_layer_2_units = 30
hidden_layer_3_units = 20
hidden_layer_4_units = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1_units, activation="relu", input_dim=num_of_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2_units, activation="sigmoid"))

# Third layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_3_units, activation="sigmoid"))

# Fourth layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_4_units, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2450

 dense_1 (Dense)             (None, 30)                1530

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 10)                210

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 4,821
Trainable params: 4,821
Non-trainable params: 0
_________________________________________________________________

2022-04-11 20:37:26.865326: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 781us/step - loss: 0.6023 - accuracy: 0.6958
Epoch 2/100
804/804 [==============================] - 1s 769us/step - loss: 0.5666 - accuracy: 0.7311
Epoch 3/100
804/804 [==============================] - 1s 767us/step - loss: 0.5570 - accuracy: 0.7311
Epoch 4/100
804/804 [==============================] - 1s 775us/step - loss: 0.5530 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 1s 767us/step - loss: 0.5517 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 1s 760us/step - loss: 0.5502 - accuracy: 0.7333
Epoch 7/100
804/804 [==============================] - 1s 768us/step - loss: 0.5491 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 1s 793us/step - loss: 0.5481 - accuracy: 0.7334
Epoch 9/100
804/804 [==============================] - 1s 776us/step - loss: 0.5470 - accuracy: 0.7353
Epoch 10/100
804/804 [==============================] - 1s 796us/step - loss: 0.5459 - accuracy: 0.7333
Epoch 11/100
804/804 [==============================] - 1s 789us/step - loss: 0.5452 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 796us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 1s 791us/step - loss: 0.5439 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 1s 790us/step - loss: 0.5432 - accuracy: 0.7357
Epoch 15/100
804/804 [==============================] - 1s 814us/step - loss: 0.5426 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 1s 774us/step - loss: 0.5422 - accuracy: 0.7339
Epoch 17/100
804/804 [==============================] - 1s 893us/step - loss: 0.5416 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 1s 978us/step - loss: 0.5410 - accuracy: 0.7350
Epoch 19/100
804/804 [==============================] - 1s 794us/step - loss: 0.5416 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 1s 887us/step - loss: 0.5405 - accuracy: 0.7356
Epoch 21/100
804/804 [==============================] - 1s 783us/step - loss: 0.5403 - accuracy: 0.7351
Epoch 22/100
804/804 [==============================] - 1s 801us/step - loss: 0.5398 - accuracy: 0.7359
Epoch 23/100
804/804 [==============================] - 1s 870us/step - loss: 0.5392 - accuracy: 0.7369
Epoch 24/100
804/804 [==============================] - 1s 798us/step - loss: 0.5393 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 1s 811us/step - loss: 0.5388 - accuracy: 0.7371
Epoch 26/100
804/804 [==============================] - 1s 993us/step - loss: 0.5390 - accuracy: 0.7358
Epoch 27/100
804/804 [==============================] - 1s 794us/step - loss: 0.5386 - accuracy: 0.7361
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7363
Epoch 29/100
804/804 [==============================] - 1s 988us/step - loss: 0.5378 - accuracy: 0.7369
Epoch 30/100
804/804 [==============================] - 1s 827us/step - loss: 0.5379 - accuracy: 0.7370
Epoch 31/100
804/804 [==============================] - 1s 803us/step - loss: 0.5375 - accuracy: 0.7373
Epoch 32/100
804/804 [==============================] - 1s 795us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 33/100
804/804 [==============================] - 1s 788us/step - loss: 0.5367 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 1s 794us/step - loss: 0.5366 - accuracy: 0.7365
Epoch 35/100
804/804 [==============================] - 1s 799us/step - loss: 0.5365 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 1s 858us/step - loss: 0.5363 - accuracy: 0.7369
Epoch 37/100
804/804 [==============================] - 1s 916us/step - loss: 0.5363 - accuracy: 0.7367
Epoch 38/100
804/804 [==============================] - 1s 816us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 1s 830us/step - loss: 0.5357 - accuracy: 0.7378
Epoch 40/100
804/804 [==============================] - 1s 801us/step - loss: 0.5354 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 1s 864us/step - loss: 0.5356 - accuracy: 0.7373
Epoch 42/100
804/804 [==============================] - 1s 868us/step - loss: 0.5355 - accuracy: 0.7380
Epoch 43/100
804/804 [==============================] - 1s 854us/step - loss: 0.5350 - accuracy: 0.7386
Epoch 44/100
804/804 [==============================] - 1s 863us/step - loss: 0.5350 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 1s 833us/step - loss: 0.5346 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 1s 806us/step - loss: 0.5343 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 1s 808us/step - loss: 0.5347 - accuracy: 0.7392
Epoch 48/100
804/804 [==============================] - 1s 804us/step - loss: 0.5344 - accuracy: 0.7388
Epoch 49/100
804/804 [==============================] - 1s 803us/step - loss: 0.5339 - accuracy: 0.7389
Epoch 50/100
804/804 [==============================] - 1s 924us/step - loss: 0.5338 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 1s 872us/step - loss: 0.5340 - accuracy: 0.7384
Epoch 52/100
804/804 [==============================] - 1s 837us/step - loss: 0.5337 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 1s 812us/step - loss: 0.5333 - accuracy: 0.7393
Epoch 54/100
804/804 [==============================] - 1s 803us/step - loss: 0.5335 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 1s 800us/step - loss: 0.5334 - accuracy: 0.7393
Epoch 56/100
804/804 [==============================] - 1s 800us/step - loss: 0.5333 - accuracy: 0.7398
Epoch 57/100
804/804 [==============================] - 1s 811us/step - loss: 0.5331 - accuracy: 0.7392
Epoch 58/100
804/804 [==============================] - 1s 800us/step - loss: 0.5331 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 1s 799us/step - loss: 0.5329 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 1s 812us/step - loss: 0.5328 - accuracy: 0.7392
Epoch 61/100
804/804 [==============================] - 1s 809us/step - loss: 0.5325 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 1s 819us/step - loss: 0.5325 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 1s 801us/step - loss: 0.5324 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 1s 796us/step - loss: 0.5320 - accuracy: 0.7404
Epoch 65/100
804/804 [==============================] - 1s 813us/step - loss: 0.5321 - accuracy: 0.7401
Epoch 66/100
804/804 [==============================] - 1s 807us/step - loss: 0.5320 - accuracy: 0.7403
Epoch 67/100
804/804 [==============================] - 1s 813us/step - loss: 0.5320 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 1s 834us/step - loss: 0.5321 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 1s 809us/step - loss: 0.5317 - accuracy: 0.7407
Epoch 70/100
804/804 [==============================] - 1s 862us/step - loss: 0.5316 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 1s 847us/step - loss: 0.5314 - accuracy: 0.7402
Epoch 72/100
804/804 [==============================] - 1s 823us/step - loss: 0.5313 - accuracy: 0.7402
Epoch 73/100
804/804 [==============================] - 1s 834us/step - loss: 0.5313 - accuracy: 0.7406
Epoch 74/100
804/804 [==============================] - 1s 902us/step - loss: 0.5312 - accuracy: 0.7407
Epoch 75/100
804/804 [==============================] - 1s 857us/step - loss: 0.5312 - accuracy: 0.7408
Epoch 76/100
804/804 [==============================] - 1s 803us/step - loss: 0.5310 - accuracy: 0.7406
Epoch 77/100
804/804 [==============================] - 1s 820us/step - loss: 0.5308 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 1s 811us/step - loss: 0.5306 - accuracy: 0.7412
Epoch 79/100

804/804 [==============================] - 1s 815us/step - loss: 0.5307 - accuracy: 0.7408
Epoch 80/100
804/804 [==============================] - 1s 837us/step - loss: 0.5307 - accuracy: 0.7401
Epoch 81/100
804/804 [==============================] - 1s 806us/step - loss: 0.5307 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 1s 813us/step - loss: 0.5305 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 807us/step - loss: 0.5306 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 1s 796us/step - loss: 0.5306 - accuracy: 0.7396
Epoch 85/100
804/804 [==============================] - 1s 822us/step - loss: 0.5303 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 1s 813us/step - loss: 0.5304 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 1s 820us/step - loss: 0.5302 - accuracy: 0.7418
Epoch 88/100
804/804 [==============================] - 1s 810us/step - loss: 0.5304 - accuracy: 0.7396
Epoch 89/100
804/804 [==============================] - 1s 818us/step - loss: 0.5302 - accuracy: 0.7405
Epoch 90/100
804/804 [==============================] - 1s 820us/step - loss: 0.5299 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 809us/step - loss: 0.5298 - accuracy: 0.7412
Epoch 92/100
804/804 [==============================] - 1s 810us/step - loss: 0.5297 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 1s 818us/step - loss: 0.5299 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 1s 823us/step - loss: 0.5295 - accuracy: 0.7413
Epoch 95/100
804/804 [==============================] - 1s 825us/step - loss: 0.5298 - accuracy: 0.7415
Epoch 96/100
804/804 [==============================] - 1s 812us/step - loss: 0.5295 - accuracy: 0.7412
Epoch 97/100
804/804 [==============================] - 1s 807us/step - loss: 0.5295 - accuracy: 0.7413
Epoch 98/100
804/804 [==============================] - 1s 823us/step - loss: 0.5294 - accuracy: 0.7401
Epoch 99/100
804/804 [==============================] - 1s 823us/step - loss: 0.5298 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 1s 810us/step - loss: 0.5292 - accuracy: 0.7412

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5600 - accuracy: 0.7287 - 244ms/epoch - 910us/step
Loss: 0.5600383877754211, Accuracy: 0.7287463545799255

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")